@import "../styles/color";
@import "../styles/components";

.Layout {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;

  color: $rgb-darken-white;

  .OffCanvas {
    height: inherit;

    background: $rgb-darken-dark;

    &__Container {
      height: inherit;

      position:relative;

      padding-left: 1rem;
      padding-right: 1rem;

      .Logo {
        height: 90px;

        margin-left: 1.25rem;
        margin-right: 1.25rem;

        display: flex;
        justify-content: start;
        align-items: center;

        border-bottom: 1px solid $rgb-lighten-dark;
      }

      .Navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 20px;
        margin-right: 20px;
        
        padding-top: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid $rgb-lighten-dark;

        &_Button {
          display: flex;
          justify-content: start;
          align-items: center;

          @include side-button();
        }
      }

      .BrowserByGenre {
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;

        margin-left: 20px;
        margin-right: 20px;

        display: flex;
        flex-wrap: wrap;

        border-bottom: 1px solid $rgb-lighten-dark;

        &__Text {
          width: 100%;

          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
        }

        &__GroupLinks {
          width: 50%;

          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: start;

          float:left;

          &__Link {
            text-decoration: none;
            color: $rgb-darken-white;

            margin-top: .25rem;
            margin-bottom: .25rem;

            &:hover {
              color: darken($rgb-darken-white, 15);
            }
          }
        }
      }

      &__Down{
        position: absolute;
        bottom: 0;
        
        .Friends {      
  
          &__Container {
            height: 4.5rem;
  
            border: 1px solid $rgb-lighten-dark;
            border-radius: 12px;
  
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
  
            padding-left: 1.5rem;
            padding-right: 1.5rem;
  
            .Button__Friends {
              height: 100%;
  
              display: flex;
              justify-content: center;
              align-items: center;
  
              svg {
                fill: $rgb-blue;
              }
            }
  
            .Button__Chat {
              height: 100%;
  
              display: flex;
              justify-content: center;
              align-items: center;
  
              color: $rgb-blue;
            }
          }
        }
  
        .Games {
          width: auto;
  
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
  
          display: flex;
  
          &__Block {
            margin-left: .5rem;
            margin-right: .5rem;
  
            border: 1px solid $rgb-lighten-dark;
            border-radius: 12px;
  
            background: $rgb-lighten-dark;
  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
            svg {
              width: 100%;
              padding-top: .5rem;
              padding-bottom: .5rem;
  
              fill: darken($rgb-darken-white, 50);
            }
  
            .FirstText {
              text-transform: uppercase;
  
              font-size: 14px!important;
            }
  
            .SecondText {
              text-transform: uppercase;
  
              font-size: 12px!important;
              color: $rgb-blue;
            }
  
            &:hover {
              border: 1px solid lighten($rgb-lighten-dark, 15);
              background: lighten($rgb-lighten-dark, 15);
  
              svg {
                fill: $rgb-darken-white;
              }
            }
          }
        }
      }
    }

    @media (min-width: 1024px) {
      width: 20%;

      .Games__Block {
        width: 6.75rem;
        height: 6.75rem;
      }
    }

    @media (min-width: 2048px) {
      width: 14%;

      .Games__Block {
        width: 9rem;
        height: 9rem;
      }
    }
  }

  .Main {
    height: inherit;

    background: $rgb-dark;

    &__Container {
      padding-left: 45px;
      padding-right: 45px;
    }

    @media (min-width: 1024px) {
      width: 80%;
    }
    @media (min-width: 2048px) {
      width: 86%;
    }
  }
}