$rgb-dark: rgb(17,19,24);
$rgb-darken-dark: rgb(9,11,14);
$rgb-lighten-dark: rgb(29,31,36);
$rgb-darken-grey: rgb(63,65,66);
$rgb-grey: rgb(57,60,61);
$rgb-green: rgb(5,175,70);
$rgb-orange: rgb(252,161,5);
$rgb-blue: rgb(36,131,206);
$rgb-yellow: rgb(254,213,62);
$rgb-purple: rgb(142,43,162);
$rgb-red: rgb(248,72,50);
$rgb-teal: rgb(10,150,140);
$rgb-darken-white: rgb(227,229,231);