@import 'styles/color';

.Page {
  .Card__Container {
    width: 80%;

    .Card__Large {
      width: 100%;

      border-radius: 12px;
      background: $rgb-lighten-dark;

      display: flex;
      justify-content: start;

      color: $rgb-darken-white;

      img {
        width: 55%;
        height: 500px;

        border-radius: 12px 0 0 12px!important;
        
        object-fit: cover;
      }

      &__About {
        padding: 2.25rem;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        text-align: start;

        a {
          color: $rgb-blue;
          text-decoration: none;
        }
      }
    }
  }
}